@charset "UTF-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p,
blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td, /* table elements 表格元素 */
body{
background: #F5F5F5;
}
form{
	margin-top: 0px;
}
img{border:medium none;margin:0;padding:0;}/* img elements 图片元素 */
/** 设置默认字体 **/
body,button, input, select, textarea { font-size:12px; font: 12px/1.5 ’宋体’,Arial,tahoma, Srial, helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6 { font-size:100%;}
em{font-style:normal;}
/** 重置列表元素 **/
ul, ol { list-style:none; }
/** 重置超链接元素 **/
a { text-decoration:none; color:#4f4f4f;}
a:hover { text-decoration:underline; color:#F40; }
/** 重置图片元素 **/
img{ border:0px; margin-bottom: -7px;}
table {border: 1px solid #B1CDE3; padding:0; margin:0 auto; margin-left:10px;margin-right:10px; width:98%; border-collapse: collapse; }
td,th {text-align:center; border: 1px solid #B1CDE3;background: #fff;font-size:14px;padding: 3px 3px 3px 8px;color: #4f6b72;height: 22px;}
input[type="text"]{
border: 1px solid; border-color: #CCC #EEE #EEE #CCC;
background: #F5F5F5;
height: 18px;
width: 160px;
}
input[type="password"]{
border: 1px solid; border-color: #CCC #EEE #EEE #CCC;
color: #000; background: #F5F5F5;
width: 160px;
}
input[type="submit"]{
border: 1px solid; border-color: #EEE #CCC #CCC #EEE;
color: #000; font-weight: bold; background: #F5F5F5;
}
input[type="button"]{
border: 1px solid; border-color: #EEE #CCC #CCC #EEE;
color: #000; font-weight: bold; background: #F5F5F5;
}
input[type="reset"]{
border: 1px solid; border-color: #EEE #CCC #CCC #EEE;
color: #000; background: #F5F5F5;
}
textarea {
border: 1px solid; border-color: #EEE #CCC #CCC #EEE;
color: #000; background: #F5F5F5;
width:600px;height: 150px;
}
p{margin-left:10px; margin-top:2px; margin-bottom:5px; width:100%; border-collapse: collapse;font-size:14px;}
